@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=PT+Sans:wght@400;700&display=swap');
@import url('media.sass')
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    font-family: 'PT Sans', sans-serif

.container
    margin: 0 auto
    width: 900px

a
    text-decoration: none
    color: #000000

.header
    min-height: 100px
    position: relative
    .background_inner
        width: 100%
        height: 650px
    &_background_1
        background:url(../img/main_page/main_header_background_1.jpg) center center/cover no-repeat
        height: 650px
    &_background_2
        background:url(../img/main_page/main_header_background_2.jpg) center center/cover no-repeat
        height: 650px
    &_background_3
        background:url(../img/main_page/main_header_background_3.jpg) center center/cover no-repeat
        height: 650px
    &_background_4
        background:url(../img/main_page/main_header_background_4.jpg) center center/cover no-repeat
        height: 650px
    &_background_5
        background:url(../img/main_page/main_header_background_5.jpg) center center/cover no-repeat
        height: 650px
    .container
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        padding: 200px auto 200px auto
    &_content
        .logo
            margin-top: 100px
            img
                height: 250px
                display: block
                margin: 0 auto
                margin-top: 100px
        .header_btn
            display: block
            cursor: pointer
            margin: 0 auto
            margin-top: 50px
            border: none
            color: white
            font-size: 21pt
            width: 400px
            height: 70px
            border-radius: 15px
            background-color: rgba(149, 178, 219, 0.8)
            transition: 0.3s ease-in-out
            outline: none
            &:hover
                background-color: rgba(98, 157, 238, 1.0)

.title
    text-align: center
    font-size: 36pt
    margin-bottom: 30px
    text-transform: uppercase

.bold
    font-weight: bold
    font-size: 16pt

p
    font-size: 14pt
    margin-bottom: 10px

.expedition_links
    min-height: 400px
    padding: 30px 0 50px 0
    .title
        margin-bottom: 0
    .expedition_blocks
        padding: 0 35px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .block
            margin-top: 20px
            position: relative
            width: 250px
            height: 300px
            border-radius: 10px
            &_title
                position: absolute
                top: 50px
                left: 50%
                transform: translateX(-50%)
                color: #ffffff
                -webkit-text-stroke: 1px black
                font-weight: bold
                text-decoration: none
                text-align: center
                font-size: 21pt
                transition: 0.3s ease-in-out
                &:hover
                    font-size: 24pt
    .two_blocks_in_section
        padding: 0 180px

.about_us
    width: 100%
    min-width: 300px
    padding: 0 0 50px 0
    font-size: 16pt
    .about_image
        background: url(../img/main_page/about_us_image.jpg) center center/cover no-repeat
        height: 200px
        width: 200px
        border-radius: 100%
        border: 1px solid black
        float: left
        margin-right: 30px
        img
            height: 200px
            border-radius: 100%

.footer
    width: 100%
    padding-top: 25px
    background-color: #0A0A0A
    height: 120px
    font-size: 21pt
    text-align: center
    color: #ffffff
    font-size: 16pt
    .icon_link
        color: #ffffff
        &:hover
            color: rgb(149, 178, 219)
        img
            height: 20px
    &_email
        img
            margin-left: 20px
    &_communication
        display: flex
        margin-top: 5px
        justify-content: center

.header
    width: 100%
    border-bottom: 1px solid rgb(189, 189, 189)
    nav
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        height: 100px
        .categories
            li
                list-style: none
                display: inline
                margin-right: 10px
            .selected
                color:#3b8dff
                font-weight: bold
    &_logo
        img
            height: 65px
    &_right_side
        display: flex
        align-items: center

.header_btn
    display: block
    cursor: pointer
    border: none
    color: white
    font-size: 12pt
    width: 200px
    height: 30px
    border-radius: 10px
    background-color: rgba(149, 178, 219, 0.8)
    transition: 0.3s ease-in-out
    outline: none
    &:hover
        background-color: rgba(98, 157, 238, 1.0)

.article_section
    padding: 30px 0 50px 0
    .title
        font-size: 24pt
    .article
        &_img
            float: left
            height: 250px
            margin-right: 20px
        &_descr
            .bold
                color: #3b8dff
        .calendary
            padding-top: 30px
            .title
                margin-top: 0
            &_day
                margin-bottom: 10px
            &_subtitle
                margin-bottom: 10px
                font-weight: bold
                font-size: 14pt
            &_descr
                p:first-letter
                    text-transform: uppercase

        ul
            font-size: 14pt
        li
            font-size: 14pt
            margin-left: 40px
        .conditions
            margin-top: 20px
    a
        color: #629dee
        font-weight: bold
        &:hover
            color: #3b8dff
    
h3
    color: #629dee
    margin: 20px 0 10px 0
    font-size: 18pt

.gallery
    padding-bottom: 30px
    &_inner
        position: relative
        width: 750px
        margin: 0 auto
        outline: none
        img
            width: 100%
            outline: none

.slick-prev, .slick-next
  position: absolute
  border: none
  background-color: #ffffff
  top: 50%
  left: -120px
  transform: translateY(-50%)

.slick-prev:focus, .slick-next:focus
  outline: none

.slick-prev:hover, .slick-next:hover
  cursor: pointer

.slick-prev img
  width: 20%
  height: 20%

.slick-next
  img
    width: 20%
    height: 20%
  right: -120px
  left: auto

.slick-dots
    text-align: center
    display: flex
    justify-content: center
    list-style: none
    button
        cursor: pointer
        background: #eddfd477
        border: 1px solid black
        border-radius: 50%
        height: 10px
        width: 10px
        margin: 5px
        outline: none
        font-size: 0
    li[class="slick-active"] 
        button
            background: #3b8dff

.overlay
    display: none
    position: fixed
    width: 100%
    height: 100%
    top: 0
    background-color: rgba(0, 0, 0, .5)

.modal
    display: none
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 380px
    min-height: 500px
    background-color: #f2f2f2
    padding: 40px
    &_subtitle
        font-size: 21pt
    input
        width: 100%
        height: 35px
        padding: 0 10px
        margin-top: 15px
    textarea
        margin-top: 15px
        padding: 5px 10px
        resize: none
    select
        width: 100%
        margin-top: 15px
    .header_btn
        margin: 0 auto
        margin-top: 15px
        cursor: pointer
        font-size: 16pt
        width: 300px
        height: 50px
        border-radius: 15px
        background-color: rgba(149, 178, 219, 0.8)
        transition: 0.3s ease-in-out
        &:hover
            background-color: rgba(98, 157, 238, 1.0)
    &_close
        position: absolute
        top: -50px
        right: -40px
        color: #629dee
        cursor: pointer
        font-size: 48pt
        font-weight: 300
        &:hover
            color: #3b8dff
