@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;    
}

a {
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.container {
    width: 900px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: rgba(22, 22, 22, 0.945);
    height: 80px;
    width: 100%;
    z-index: 3;
}

header nav {
    margin: 0 auto;
    width: 900px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header_background {
    background: url(../img/header_background.jpg) center center/cover no-repeat;
    height:  625px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-top: 200px;
}

h1.main_title {
    margin-top: 150px;
    text-align: center;
    font-size: 72pt;
    color: white;
}

header nav .nav_logo img {
    height: 80px;
    margin-top: 20px;
}

header nav .navigation li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

header nav .navigation li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header nav .navigation li a:hover {
    color: #e58d3e;
}

header nav .navigation li a:active {
    color: #fc7906;
}

main {
    padding-top: 10px;
    background: url(../img/header_background.jpg) center center/cover no-repeat;
    background-attachment: fixed;
}

main .about_us_section {
    margin-top: 20px;
}

main .info_section .section_title {
    color: #fc7906;
    font-size: 52pt;
    text-transform: uppercase;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
}

main .info_block {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px 30px;
    width: 800px;
    background-color: #2b2729;
    border: 10px solid #e58d3e;
}

main .info_block h3{
    text-transform: uppercase;
    color: white;
    font-size: 32pt;
}

main .info_block p{
    color: white;
    margin-top: 10px;
}

main .info_block .info_block_image{
    width: 300px;
    height: 300px;
    float: right;
    border: 10px solid #423e40;
    margin-left: 20px;
}

main .about_us_section .about_us_block .info_block_image {
    background: url(../img/about_us_image.jpg) center center/cover no-repeat;
}

main .etno_section .new_year_block .info_block_image {
    background: url(../img/new_year.jpg) center center/cover no-repeat;
}

main .etno_section .guest_block .info_block_image {
    background: url(../img/guest.jpg) center center/cover no-repeat;
}

main .etno_section .aksarka_day_block .info_block_image {
    background: url(../img/aksarka_day.jpg) center center/cover no-repeat;
}

main .fishing_section .fishing_winter_block .info_block_image {
    background: url(../img/fishing_winter.JPG) center center/cover no-repeat;
}

main .fishing_section .fishing_summer_block .info_block_image {
    background: url(../img/fishing_summer.jpg) center center/cover no-repeat;
}

main .hunting_section .hunting_waterfowl_block .info_block_image {
    background: url(../img/hunting_waterfowl.jpg) center center/cover no-repeat;
}

main .hunting_section .hunting_upland_block .info_block_image {
    background: url(../img/hunting_upland.jpg) center center/cover no-repeat;
}

main .hunting_section .hunting_wolverine_block .info_block_image {
    background: url(../img/hunting_wolverine.jpg) center center/cover no-repeat;
}

main .hunting_section .hunting_deer_block .info_block_image {
    background: url(../img/hunting_deer.jpg) center center/cover no-repeat;
}

main {
    padding: 20px;
}

.footer {
    width: 100%;
    padding-top: 25px;
    background-color: #0A0A0A;
    height: 120px;
    text-align: center;
    color: #ffffff;
    font-size: 16pt;
}

.icon_link {
    color: #ffffff;
}

.icon_link:hover {
    color: #e58d3e;
}

.icon_link img {
    height: 20px;
}

.footer_email img, .email img {
    margin-left: 20px;
}

.footer_communication, .communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.communication {
    font-weight: bold;
    font-size: 28pt;
}

.communication .icon_link img {
    height: 40px;
}