.product_cart {
    padding: 10px 100px;
}

.incart_link {
    display: flex;
}

.incart_product {
    margin-top: 10px;
    display: flex;
}

.product_image > img {
    width: 300px;
    border: 1px solid rgba(204, 204, 204, 0.308);
    margin-right: 30px;
}

.product_cart .price {
    font-size: 20pt;
    text-align: left;
}

.product_sizes form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

input[id^="size_"] {
    display: none;
}

.size_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 10px;
    height: 30px;
    border: 1px solid #FF1D25;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

input[id^="size_"]:checked + label{
    background-color: red;
    color:white;
}

input[disabled] ~ label {
    color: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
    cursor: not-allowed;
}

.delete_prod {
    position: relative;
    left: 450px;
    bottom: 130px;
    color: black;
    font-size: 48pt;
}

.delete_prod:hover {
    color: #FF1D25;
    cursor: pointer;
}

.total {
    float: right;

}

.total h2 {
    display: flex;
    margin-top: 3px;
    font-size: 20pt;
    margin-left: 40px;
}

.total .price{
    margin-left: 5px;
    margin-top: 1px;
}

.checkout {
    float: right;
    height: 50px;
    width: 200px;
    font-size: 18pt;
}

.popular {
    margin-top: 100px;
}