.product_page h1 {
    text-align: left;
}

.small_line {
    margin-top: 0;
    flex-wrap: wrap;
    max-width: 900px;
}

.page_products_and_filter {
    display: flex;
    justify-content: center;
}

.page_products {
    width: 900px;
}

.page_filter {
    margin-top: 60px;
    border-radius: 10px;
    width: 140px;
}

.page_filter input {
    display: none;
}

.color_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border-radius: 10px;
    height: 30px;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.black_btn {
    background-color: black;
    color:white;
}

.white_btn {
    border: 1px solid black;
}

.red_btn {
    border: 1px solid black;
    background-color: red;
    color: rgb(0, 0, 0);
}

.yellow_btn {
    border: 1px solid black;
    background-color: yellow;
    color:rgb(42, 42, 131);
}

.blue_btn {
    border: 1px solid black;
    background-color: blue;
    color:orange;
}

.clear {
    width: 120px;
}

.pages {
    display: flex;
    margin: 0 auto;
}

.pages h2 {
    margin-right: 10px;
}

.page_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 10px;
    height: 30px;
    border: 1px solid #FF1D25;
    cursor:pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.page_btn_active {
    background-color:  #FF1D25;
    color: white;
}

input[id^="size_"]:checked + label{
    background-color: red;
    color:white;
}

.popular1 {
    margin-top: 20px;
}
