@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
  
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');