.product_page .links_back li{
    display: inline;
}

.product_page .links_back li a:hover{
    color: #FF1D25;
}

.other_links::before {
    margin: 0 10px;
    content: ">";
}

.product_container {
    display: flex;
    margin-top: 40px;
}

.product_image_section{
    display: flex;
}

.images_left_side {
    width: 1px;
}

button[data-image^="prod_img_"] {
    margin-top: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}

button[data-image^="prod_img_"] img {
    height: 150px;
}

div[class^="main_image"] {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 50px;
}

div[class^="main_image"] img {
    max-width: 400px;
}

.main_image_2, .main_image_3 {
    display: none;
}
.product_info_section .price, .product_info_section h2 {
    font-size: 21pt;
    text-align: left;
}

.about_prod h2{
    font-size: 18pt;
    margin: 10px 0;
}

.product_info_section button {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24pt;
    border-radius: 50px;
    width: 300px;
    height: 80px;
    transition: 0.3s ease-in-out;
}