* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
}

.head{
    display: block;
    position: sticky;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 150px;
}

.header_logo img {
    width: 100%;
}

.contacts_phone_email {
    display: flex;
    font-size: 12pt;
}

.contacts_phone_email .email, .contacts_phone_email .phone {
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.contacts_phone_email .email a, .contacts_phone_email .phone a {
    text-decoration: none;
    color: #000000;
}

.contacts_phone_email .email img, .contacts_phone_email .phone img {
    margin-right: 8px;
}

.contacts_adress > p{
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
}

.header_buttons .button_content {
    display: flex;
    justify-content: center;
}

.header_buttons .button_content img {
    margin-right: 5px;
    height: 20px;
}

.button {
    font-weight: medium;
    font-size: 12pt;
    color: #ffffff;
    border: none;
    background-color: #FF1D25;
    border-radius: 24px;
    width: 130px;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    background-color: #FF0008;
}

.button:active {
    background-color: #ff262d;
    transition: 0.1s;
}

.head {
    min-height: 30px;
    padding: 5px;
    border-bottom: 1px solid #bdbdbd;
    background-color: #e7e7e7;
}

.head_icon {
    height: 20px;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: normal;
}

h2 {
    font-size: 18pt;
    font-weight: normal;
}

.categories {
    position: relative;
}

.topmenu {
    text-align: center;
    padding: 10px 0;
}

.topmenu > li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.topmenu > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: medium;
    font-size: 12pt;
    border: 1px solid black;
    border-radius: 24px;
    width: 130px;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.topmenu > li > a:hover {
    color: #ffffff;
    background-color: #000000;
}

.topmenu > li .newsellers {
    border: 1px solid #FF1D25;
}

.topmenu > li .newsellers:hover {
    color: #ffffff;
    border: 1px solid black;
    background-color: #000000;
}

.submenu {
    position: absolute;
    margin-top: 10px;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #f2f2f2;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.4s ease-in-out;
    padding-bottom: 10px;
}

.submenu li {
    text-align: left;
}

.submenu li a {
    padding: 10px 0;
    margin: 0 10px;
}

.submenu li a:hover {
    color: #ff262d;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 85%;
    transform: scale(1);
}

.main_category {
    font-weight: bold;
    margin-bottom: 5px;
}

.second_category {
    font-size: 10pt;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

.slider {
    padding: 30px 0;
}

.slider_inner {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.slider_inner img {
    width: 100%;
}

.slick-prev, .slick-next {
    position: absolute;
    border: none;
    background-color: #ffffff;
    top: 50%;
    left: -96px;
    transform: translateY(-50%);
}

.slick-prev:focus, .slick-next:focus {
    outline: none;
}

.slick-prev:hover, .slick-next:hover {
    cursor: pointer;
}

.slick-prev img, .slick-next img {
    width: 40px;
    height: 40px;
}

.slick-next {
    right: -66px;
    left: auto;
}

.big_line {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.big_line_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 330px;
    border: 1px solid #bdbdbd;
}

.big_line_block img {
    object-fit: cover;
    height: 330px;
    width: 330px;
    margin-bottom: 10px;
}

.popular {
    margin-top: 20px;
}

div[class^="small_line"] {
    margin-top: 20px;
    display: flex;
}

.small_line_block {
    flex-direction: column;
    width: 200px;
    align-content: flex-end;
    min-height: 345px;
}

.small_line_block img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.small_line_block a:hover{
    color:rgb(104, 104, 104);
}

.small_line_block a .text {
    padding: 0 10px;
    height: 100px;
}

.small_line_block button {
    margin: 0 auto;
    margin-top: 10px;
}

.popular_inner button {
    margin-left: 30px;
}

.price {
    margin-top: 5px;
    color: #FF1D25;
    font-size: 14pt;
    text-align: center;
}

.foot {
    padding: 30px 120px;
    margin-top: 30px;
    background-color: #e7e7e7;
    border-top: 1px solid #bdbdbd;
}
.social, .rights {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer h2 {
    margin-bottom: 5px;
}

.footer a:hover {
    color: #ff262d;
}

.social_block {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.social_block img {
    width: 45px;
}

.feed_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding-top: 36px;
}

.feed_form input {
    border: 1px solid rgba(0, 0, 0, 0.24);
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
}

.button_submit {
    margin: 0 auto;
    font-size: 16pt;
    width: 250px;
    height: 50px;
}

.vl {
    border-left: 1px solid gray;
    height: 280px;
}

.overlay, .overlay_checkout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    z-index: 2;
}

.modal {
    display: flex;
    text-align: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.24);
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    min-height: 200px;
    background-color: #f2f2f2;
    padding: 30px 50px;
}

.modal_close {
    position: absolute;
    top: 0;
    right: -35px;
    font-size: 50px;
    line-height: 1px;
    color:black;
    cursor: pointer;
}

.modal_close:hover {
    color: #FF1D25;
}

#login {
    display: none;
}

.overlay1 {
    position: fixed;
    z-index: 5;
}

.overlay1 .modal_close {
    position: fixed;
    top: 6px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal_prod {
    top: 20%;
    right: 15%;
    border: 1px solid rgba(0, 0, 0, 0.041);
    display: none;
    width: 218px;
    min-height: 20px;
    padding: 0;
    background-color: rgba(245, 245, 245, 0.884);
}

.modal_prod_with_sizes {
    display: none;
    position: fixed;
    width: 600px;
    background-color:white;
    height: 3px;
}

.modal_descr1 {
    margin: 0 auto;
}

.modal_descr {
    padding: 10px 8px;
    font-size: 12pt;
}

.cart_link {
    color: #FF1D25;
}

.cart_link:hover {
    text-decoration: underline;
}
