@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 850px;
    background: url('../img/promo/promo_background.png') center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 14px;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

h1.title {
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text .free {
    color: #f9bf3b;
    font-weight: 700;
}

.promo_btn {
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    border: solid 4px rgba(0, 0, 0, 0.23);
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 0%);
    box-shadow: inset 0px 0px rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider,
.finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_item {
    vertical-align: top;
    width: 339px;
}

.waiting_item .waiting_img {
    width: 100%
}

.waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization_text {
    margin-top: 25px;
}

.optimization_text_paragraph {
    margin-left: 391px;
    margin-bottom: 10px;
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.bold_p {
    font-weight: bold;
    margin-bottom: 0;
}

.optimization_img {
    position: absolute;
    top: -35px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/finish/finish_background.png") center center / cover no-repeat;
}

.finish_header {
    color: #ffffff;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish_item {
    width: 204px;
}

.finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    margin: 0 auto;
}

.finish_item .finish_descr {
    margin-top: 25px;
    color: #efefef;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.gift {
    background-color: #efefef;
    min-height: 628px;
    padding: 98px 0 87px 0;
}

.gift_img {
    display: block;
    margin: 0 auto;
}

.gift_descr {
    margin-top: 35px;
    width: 1100px;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}

.gift .promo_btn {
    margin-top: 45px;
}

.webinar {
    min-height: 515px;
    padding: 82px 0 45px 0;
}

.webinar_img {
    display: block;
    margin: 0 auto;
}

.webinar_title {
    margin-top: 46px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.webinar_time {
    margin-top: 48px;
    color: #299cbd;
    font-family: "Roboto-Black";
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.webinar_text {
    margin-top: 19px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

footer {
    height: 166px;
    padding: 58px 0 65px 0;
    background-color: #1a1a1a;
    color: #888888;
}

a:link, a:active, a:visited {
    color: #888888;
    text-decoration: none;
}

.footer_links .rules, .footer_links .phone {
    text-align: center;
}